@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #1d243d;
  padding: 0;
  margin: 0;
}



a{
    color: #5c7fda;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }