<!DOCTYPE html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<meta name="author" content="Jean-baptiste Marchetti--Waternaux">
		<meta name="description" content="An image classifier dedicated to plant recognition">
		<meta name="keywords" lang="en" content="classifier, plant, plants, image, image recognition">
		<meta name="keywords" lang="fr" content="trieur, plant, plantes, image, reconnaissance">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">		
		<title>Bienvenue dans l'application</title>
		<link rel="stylesheet" media="screen" type="text/css" href="/static/monstyle.css"/>
		<link rel="shortcut icon" type="image/x-icon" href="./assets/icon.jpg">
	</head>

	<body>
		<form action = '/'></form>
        <a href="login">cliquer ici pour vous authentifier</a>