<!doctype html>

<head>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">		
		<title>Flask Image Classifier plant invading</title>
		<link rel="stylesheet" media="screen" type="text/css" href="/static/monstyle.css"/>
</head>

<body>

<div class="container">

	<div class="row">
		<div class="col col-lg-10 offset-lg-2">
			
			<h1>Bienvenue dans cette béta d'api de reconnaissance de plante envahisante</h1>

			<h2>Select a file to upload</h2>
			<p>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
					Label: {{ messages[0] }}
				{% endif %}
				{% endwith %}
			</p>
		<div>
			<p>
				accuracy of prediction
			</p>
			<div id = "valpred">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
			
					{{ messages[1] }}
			
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col col-lg-8 offset-lg-2">

<!-- deuxième champ caché par défaut -->

	<form method="post" action="/" enctype="multipart/form-data">
		<p> {{phrase}}</p>
	
		<p>
				<input type="file" name="file" autocomplete="off" required>
		</p>
	
		<p>
			<p> {{requete}}</p>
			
			<img src = "{{img_path}}">

			<p>veuillez entrer l'adresse la plus précise d'ou vous avez pris la photo</p>
		
			<label>adress</label> : <input type="text" name="adresse">
			<input type="submit" value="Submit">
		</p>

	</form>
</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>

	
	
