<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>localisation</title>
		</head>
		<body>
			<p>la plante reconnus est une {{prediction}} </p><br>
            
            <p>
                <h2>veuillez entrer l'adresse la plus précise d'ou vous avez pris la photo</h2>
                <label>adress</label> : <input type="text" name="adresse" autocomplete="off" required>
            </p>
            <p><input type="submit" value="Submit"></p>
                </div>
		</body>
	</html>
